@font-face {
  font-family: "iconfont"; /* Project id 3190581 */
  src: url('iconfont.woff2?t=1649334674047') format('woff2'),
       url('iconfont.woff?t=1649334674047') format('woff'),
       url('iconfont.ttf?t=1649334674047') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\e604";
}

.icon-sousuo1:before {
  content: "\e651";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-2:before {
  content: "\e680";
}

.icon-gouwuche:before {
  content: "\e899";
}

.icon-youjiantou:before {
  content: "\e637";
}

.icon-kefu:before {
  content: "\e60a";
}

.icon-fankui:before {
  content: "\e62a";
}

.icon-youjiantou_huaban:before {
  content: "\e63e";
}

.icon-wode:before {
  content: "\e61a";
}

.icon-waimai-:before {
  content: "\e606";
}

.icon-shouye:before {
  content: "\e61f";
}

.icon-ditu_dingwei_o:before {
  content: "\ebbb";
}

.icon-jiaju-:before {
  content: "\e821";
}

.icon-jiankang-lvye-jieneng:before {
  content: "\e623";
}

.icon-dingdan:before {
  content: "\e8ae";
}

.icon-yule:before {
  content: "\e643";
}

.icon-github:before {
  content: "\e600";
}

.icon-woguanzhudepinpai:before {
  content: "\e601";
}

.icon-pinpai:before {
  content: "\e602";
}

.icon-sousuo:before {
  content: "\e603";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-shenghuoshui:before {
  content: "\e649";
}

.icon-feiji:before {
  content: "\e655";
}

.icon-qian:before {
  content: "\e662";
}

.icon-lifuzhuanhuan:before {
  content: "\e666";
}

.icon-shezhi:before {
  content: "\e63c";
}

.icon-bendishenghuo:before {
  content: "\e632";
}

.icon-xinxi:before {
  content: "\e608";
}

.icon-huaduo:before {
  content: "\e625";
}

.icon-xialajiantouxiao:before {
  content: "\e87e";
}

.icon-jinrujiantouxiao:before {
  content: "\e8d4";
}

.icon-diamond-o:before {
  content: "\e91f";
}

